 @model List<FileModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<h4>Temele tale</h4>


@if (Model.Count == 0)
{
    <caption>Nicio tema adaugata recent</caption>
}
else
{

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tema nr:</th>
                <th>Titlul Temei:</th>
                <th>Detalii Tema:</th>
                <th>Asignat la data:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>

                </tr>
            }
        </tbody>
    </table>
}



