@using Microsoft.AspNetCore.Identity
@model List<FileModel>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="TitluAnunt pb-4 ">LISTEAZA DOCUMENTE</h1>
<hr />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}


@if (Model.Count == 0)
{
    <caption>Nicio tema adaugata recent</caption>
}
else
{
    <div class="row">

        <div class="row container col-8">
            @foreach (var file in Model)
            {


                <div class="col-4 bg">
                    <div class="card text-center  mb-2">
                        <div class="card-header titluAnunturi">@file.UploadedBy</div>
                        <div class="card-body bodyAnunt ">
                            <h5 class="card-title">@file.Name@file.Extension</h5>
                            <p class="card-text">
                                @file.Description
                            </p>
                            <a type="button" class="btn btnDownload" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id"><i class="fas fa-file-download"></i></a>
                            @if (UserManager.GetUserAsync(User).Result.NumeUtilizator == file.UploadedBy)
                            {
                                <a type="button" class="btn btnDeleteFile " asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id"><i class="fas fa-trash-alt"></i></a>
                            }
                        </div>
                        <div class="card-footer titluAnunturi text-white">@file.CreatedOn</div>
                    </div>
                </div>
            }
            
        </div>
         
            <div class="container  col-3  ">
                @if (User.IsInRole("Profesor"))
                {
                <form method="post" enctype="multipart/form-data">

                    <input id="file" type="file" name="files" multiple required style="display: none;" />
                    <label class="btn btnBrowseFileFromALabel mt-2 ml-2 " for="file"><i class="fas fa-plus"></i></label>
                    <input   type="text" autocomplete="off" placeholder="DETALII DOCUMENT" name="description" required />
                    <div class="col-1"> </div>
                    <button class="btn btnSubmit ml-2" type="submit" asp-controller="File" asp-action="UploadToDatabase"><i class="fas fa-upload"></i></button>
                </form>
                }
            </div>
       
    </div>
}