@model List<FileModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h4>Temele tale</h4>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
@if (User.IsInRole("Profesor"))
{ 
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Detalii tema" name="description" required />
    <button class="btn btn-success" type="submit" asp-controller="File" asp-action="UploadToDatabase">Upload Tema</button>
</form>
}

@if (Model.Count == 0)
{
    <caption>Nicio tema adaugata recent</caption>
}
else
{
   
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tema nr:</th>
                <th>Titlul Temei:</th>
                <th>Detalii Tema:</th>
                <th>Asignat la data:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>                  
                    <td>@file.CreatedOn</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                        @if (User.IsInRole("Profesor"))
                        {
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}