@model IEnumerable<CollegeOrganiser.Models.CourseAttendances>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="TitluAnunt pb-3">PREZENTELE MELE</h1>
<hr />
<div class="row" >
<div class="row  col-9  ">
    @foreach (var item in Model)
    {

        <div class="card ml-2"  >
            <div class="card-header titluAnunturi">
                @item.CourseAttended.Course.CourseName
            </div>
            <ul class=" list-group list-group-flush ">
                <li class="list-group-item bodyAnunt "> @item.User.NumeUtilizator</li>
                <li class="list-group-item bodyAnunt"> @item.CourseAttended.DateHeld</li>
                <li class="list-group-item bodyAnunt"> @Html.DisplayNameFor(model => model.Attended) @item.Attended </li>
            </ul>
        </div>

    }
    </div>
    </div>
