@using Microsoft.AspNetCore.Identity
 

@inject UserManager<ApplicationUser> UserManager
 
@model ModelFeedCurs




<h1 class="TitluAnunt pb-3">FEED CURS</h1>
<hr />



<div class="row r">
    <div class="col-md-1">

        @if (@User.IsInRole("Profesor"))
        {

            @*<a class=" col-12 btn btnFeedCurs mb-1 pb-5" asp-controller="Course" asp-action="InitiazaPrezenta" asp-route-id="@Model.CourseId">START PREZENTA</a>
            <a class="btn btnFeedCurs mb-1 pb-5" asp-controller="Course" asp-action="AnuntCursNou" asp-route-CourseId="@Model.CourseId">ANUNTU NOU</a>
            <a class="btn btnFeedCurs mb-1 pb-5" asp-controller="Course" asp-action="TemaCursNoua" asp-route-CourseId="@Model.CourseId">TEMA NOUA</a>
            <a class="btn btnFeedCurs mb-1 pb-5" asp-controller="Course" asp-action="FeedbackPrezente" asp-route-CourseId="@Model.CourseId">GESTIUNE PREZENTE</a>*@

             

            @*<button onclick="myFunction()"> </button>
            baga si  id = "setPrezenta"*@

            <nav class="navbarx">
                <ul class=" navbarx-navx">
                    <li class="logox">
                        <a class="navx-linkx">
                            <i class="fas fa-angle-double-right"></i>
                            <span class="linkx-textx"></span>
                        </a>
                    </li>

                    <li class="navx-itemx">

                        <a class="navx-linkx " asp-controller="Course" asp-action="InitiazaPrezenta" asp-route-id="@Model.CourseId">
                            <i class="fas fa-check"></i>
                            <span class="linkx-textx"> START PREZENTA</span>
                        </a>
                    </li>

                    <li class="navx-itemx">

                        <a class="navx-linkx " asp-controller="Course" asp-action="AnuntCursNou" asp-route-CourseId="@Model.CourseId">
                            <i class="fas fa-bullhorn"></i>
                            <span class="linkx-textx"> ANUNT NOU</span>
                        </a>
                    </li>

                    <li class="navx-itemx">

                        <a class="navx-linkx " asp-controller="Course" asp-action="TemaCursNoua" asp-route-CourseId="@Model.CourseId">
                            <i class="fas fa-file-alt"></i>
                            <span class="linkx-textx"> TEMA NOUA</span>
                        </a>
                    </li>

                    <li class="navx-itemx">

                        <a class="navx-linkx " asp-controller="Course" asp-action="FeedbackPrezente" asp-route-CourseId="@Model.CourseId">
                            <i class="fas fa-clipboard-list"></i>
                            <span class="linkx-textx">PREZENTE STUDENTI</span>
                        </a>
                    </li>


                </ul>
            </nav>
        }
    </div>
    <div class="col-3">
       @foreach (var item in Model.TemeleCursului)
       {
        <div class="col-12">
            <div class="card text-center mb-2">
                <div class="card-header titluAnunturi">@item.UploadedBy</div>
                <div class="card-body bodyAnunt ">
                    <h5 class="card-title">@item.Name@item.Extension</h5>
                    <p class="card-text">
                        @item.Description
                    </p>
                    <a type="button" class="btn btnDownload" asp-controller="Course" asp-action="DownloadFileCurs" asp-route-id="@item.Id"><i class="fas fa-file-download"></i></a>
                    @if (UserManager.GetUserAsync(User).Result.NumeUtilizator == item.UploadedBy)
                    {
                        <a type="button" class="btn btnDeleteFile " asp-controller="Course" asp-action="DeleteFileFromDatabase" asp-route-CourseId="@Model.CourseId" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    }

                </div>
                <div class="card-footer titluAnunturi text-white">@item.CreatedOn</div>
            </div>
        </div>
       }
      
    </div>
    <div class="col-md-5 ">
        @foreach (var item in Model.AnunturileCursului)
        {
            <div class="col-12">
                <div class="container-fluid  d-inline-block ">
                    <div class="card-header titluAnunturi">
                        <div class="col-1 float-right btnDelete">
                            @if (UserManager.GetUserAsync(User).Result.NumeUtilizator == item.Author)
                            {
                                <a class="btnDelete" asp-action="DeleteAnnouncementCurs" asp-route-id="@item.Id" asp-route-CourseId="@Model.CourseId"> <i class="far fa-trash-alt" aria-hidden="true"></i></a>

                            }
                        </div>
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)

                        </h2>

                    </div>

                    <div class="card-body bodyAnunt container-fluid ">
                        <blockquote class=" blockquote mb-0  ">
                            <p> @Html.DisplayFor(modelItem => item.Description)</p>

                            <hr style="background-color:white;" />
                            <footer class="block-footer mt-5">@Html.DisplayFor(modelItem => item.CreatedOn.DateTime) <cite title="Source Title" style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Author) </cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="col-md-2 pt-3 pb-4">
        <h3 class="ml-2 titluAnunturi pb-2" style="text-decoration:none; text-align:center; font-weight:normal; font-size:22px;">CURSURI TINUTE <br /> ISTORIC PREZENTE: @Model.ContorPrezente</h3>
     
        @foreach (var item in Model.CursurileCareSeTin)
        {
            
            <div class="row  ml-1 pt-2 pb-2 container" id="logInContainer">
                <div class="col-7 " id="logInForm">
                    @item.DateHeld

                </div>
                <div class="col-5" id="logInForm">
                    @if (User.IsInRole("Student") && Model.Prezente.Any(p => p.CourseAttended == item))
                    {
                        <i class="far fa-check-square mt-3" style="color:lawngreen;"></i>
                    }
                    else if (User.IsInRole("Student") && item.DateHeld.Date != DateTime.Now.Date)
                    {
                        <i class="far fa-window-close" style="color:red;"></i>

                    }
                    else if (User.IsInRole("Student") && item.DateHeld.Date == DateTime.Now.Date)
                    {
                        <a class="col-12 btn btnPrezenta mt-2" asp-controller="Course" asp-action="PunePrezenta" asp-route-id="@item.Id">PREZENT</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
