@using Microsoft.AspNetCore.Identity
@model List<CollegeOrganiser.Models.AnuntModel>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "GetAllAnnouncements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 

<h1 class="TitluAnunt pb-5">Rezultatele cautarii</h1>
<div class="pb-5"></div>
<div class="row">
    <div class="row  col-9  ">
        @foreach (var item in Model)
        {

            <div class="col-8  mb-3 ">
                <div class="container-fluid  mb-3  d-inline-block ">
                    <div class="card-header titluAnunturi">
                        <div class="col-1 float-right btnDelete">
                            @if (UserManager.GetUserAsync(User).Result.NumeUtilizator == item.Author)
                            {
                                <a class="btnDelete" asp-action="DeleteAnnouncement" asp-route-id="@item.Id"> <i class="far fa-trash-alt" aria-hidden="true"></i></a>

                            }
                        </div>
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)

                        </h2>

                    </div>

                    <div class="card-body bodyAnunt container-fluid ">
                        <blockquote class=" blockquote mb-0  ">
                            <p> @Html.DisplayFor(modelItem => item.Description)</p>

                            <hr style="background-color:white;" />
                            <footer class="block-footer mt-5">@Html.DisplayFor(modelItem => item.CreatedOn.DateTime) <cite title="Source Title" style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Author) </cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>



        }
    </div>
    <div class="container col-1">

    </div>

    <div class="container col-2  ">


        <form asp-action="SearchAnnouncements" method="get">

            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" placeholder="Cauta un anunt" />
            </div>
            <div class="form-group">
                <button class="btnSearch" type="submit" value="Search"><i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
        </form>

    </div>




</div>
